@import "{{ site.theme }}";

// Hide the header title and tagline completely
.page-header {
  padding: 1rem 1rem !important;
  h1, .project-tagline {
    display: none !important;
  }
}

// Reduce header size
.main-content {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
}

// Make the header a bit less wide
.page-header {
  max-width: 80%;
  margin: 0 auto !important;
}

// Adjust other spacing
.main-content {
  max-width: 80rem;
  padding: 2rem 4rem;
  margin: 0 auto;
  font-size: 1rem;
} 